* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvatica, system-ui;
}
body {
    max-width: 100%;
    min-height: 100vh;
  font-size: 18px;
}
img {
    max-width: 100%;
    height: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 12px;
   margin-bottom: 10px; 
    bottom: 1px solid #000;
}
.search_bar {
    flex: 1;
    max-width: 300px;
}

.search_bar input {
    width: auto;
    flex-wrap: wrap;
}
.messages img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.main {
    height: 100vh;
    margin-top: 40px;
    width: 100%;
  margin: 20px 0;
}
.right{
  width: 100%;
  flex: 1;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.request {
    border: none;
    border-radius: 10px;
    background: gold;
    padding: 10px;
}
.request:hover {
    background: #74742b;
}
.main{
  display: flex;
  height: auto;
}
.container {
    width: 100%;
    height: auto;
    padding: 18px;
    display: flex;
  flex: 1;
    flex-wrap: wrap;
    gap: 20px;
}
.nav_panel {
    padding: 20px;
    display: flex;
}
.nav_panel a {
    margin-left: 10px;
    text-decoration: none;
    color: #000;
    text-transform: capitalize;
    transition: 0.3s ease;
}
.nav_panel a:hover {
    border-bottom: 1.5px solid gold;
}
.all {
    height: auto;
    width: 100%;
}
.card {
    display: flex;
    justify-content: space-between;
  align-items: center;
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 2px #000;
    border-radius: 10px;
    padding: 14px;
    margin: 20px 0;
}
.profile {
    display: flex;
}
.profile img {
    height: auto;
    width: auto;
}
.title {
    display: grid;
    align-items: center;
}
.date,
.amount{
    display: flex;
}
.value {
    background: #3b5621;
    border-radius: 8px;
    height: auto;
    padding: 8px;
}
.content,
.ratings,
.overlay{
  display: flex;
  gap: 1.2rem;
}
.floater{
  display: grid;
}
.containerB{
  display: flex;
  width: 100%;
  padding: 10px;
}
.article1{
  display: grid;
  width: 40%;
  padding: 10px;
  gap: 1.2rem;
}
.article2,
.article3{
  display: grid;
  padding: 10px;
  flex: 1;
  gap: 1.2rem;
}
.article1 input,
.article2 input,
.article3 input{
  width: 100%;
  border-radius: 8px;
  padding: 6px;
  outline: none;
  border: .6px solid #000;
}
.title2{
  font-weight: 700;
  text-transform: capitalize;
}
.description{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px;
  gap: 1.2rem;
}
.descriptionSection{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.describe,
.uploads{
  display: flex;
  flex-direction: column;
  width: 50%;
  scroll-margin: none;
  padding: 10px;
  height: 120px auto;
  gap: 1.2rem;
}
.send_request{
  width: 100%;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 10px;
  background: gold;
  margin: 10px 0;
}
.main2{
  display: flex;
}
.sectionB{
  flex: 1;
  width: 100%;
}
.sidebar{
  padding: 12px;
  display: grid;
    position: sticky;
    left: 0;
  top: 0;
  height: auto;
    background: #ececec;
}
.home_bar {
    display: none;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px 0;
    position: sticky;
    left: 0;
  top: 100%;
    background: #ececec;
}
.bottom {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1 300px;
}
.bottom a {
    color: #000;
}
.bottom a:hover {
    color: gold;
    outline: #000;
}


@media (max-width: 968px) {
    .header {
        align-items: center;
    }
  .home_bar{
    display: flex;
  }
  .sidebar{
    display: none;
  }
  .search_bar {
        display: none;
    }

    .search_btn {
        width: auto;
    }
    .nav_panel {
        width: 100%;
        justfify-content: space-between;
    }
  .right{
    width: 100%;
  }
  .search_content,
  .location_content{
    top: 100%;
    left: 0;
    width: 100%;
    flex: 1;
  }
.card{
    flex-direction: column;
  }

}
