* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, helvatica, system-ui;
}
body {
    min-height: 100vh;
    max-width: 100%;
}
.hero {
    height: 100vh;
    width: 100%;
    display: flex;
}
.sidebar {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 250px;
    height: 100vh;
}
.nav_list {
    display: grid;
    align-items: center;
    gap: 1.3rem;
}
.nav_list a {
    text-decoration: none;
    text-transform: capitalize;
    padding: 20px;
    border-radius: 10px;
    color: #000;
    background: #ececec;
}
#menu_toggle {
    display: none;
    height: 40px;
    border: none;
    width: 40px;
}
.hero_slide {
    flex: 1;
    height: 100vh;
    padding: 8px;
    margin-top: 20px;
}
.topnav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: 90px;
    padding: 12px;
}
.notifications {
    display: flex;
}
.notifications img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.main {
    width: 100%;
    display: flex;
}
.overlay_right {
    width: 70%;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 1.2rem;
}
.container_one {
    display: flex;
    width: 100%;
    background: #ececec;
    height: 205px;
    border-radius: 10px;
}
.div_one {
    padding: 20px;
    width: 60%;
}
.div_two {
    background: url("profile.jpg") no-repeat;
    background-attachment: cover;
    background-position: fixed;
    height: auto;
    width: 100%;
    background-size: 100% 100%;
    flex: 1;
}
.search_bar {
    position: absolute;
    top: 235px;
    width: 70%;
    display: flex;
}
.container_two {
    width: 100%;
    background: #ececec;
    border-radius: 10px;
    padding: 14px;
}
.category {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.category h1 {
    text-transform: capitalize;
}
.service_cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.mini_card {
    padding: 10px;
    background: #efefef;
    border-radius: 11px;
    align-items: center;
    width: auto;
}
.container_three {
    width: 100%;
}
.mini_cards {
    display: flex;
    justify-content: space-around;
    gap: 0.2rem auto;
    width: 100%;
    flex-wrap: wrap;
}
.card {
    width: auto;
    padding: 10px;
    border-radius: 10px;
    height: auto;
    background: #ececec;
}
.btn {
    width: 100%;
    background: gold;
    border: none;
    border-radius: 10px;
    text-transform: capitalize;
    padding: 10px;
}
.overlay_left {
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.wallet {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    background: #ececec;
}
.Add {
    background: gold;
    width: 100%;
    padding: 19px;
    align-items: center;
    border: none;
    border-radius: 10px;
}
.quick_actions {
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    height: auto;
    background: #ececec;
}
.dropdownlist {
    list-style: none;
    display: grid;
    gap: 1.2rem;
}
.dropdownlist li a {
    color: #000;
    text-decoration: none;
    text-transform: capitalize;
}
@media screen and (max-width: 968px) {
    .main {
        flex-direction: column;
        height: 100vh;
    }
    .sidebar {
        display: none;
        position: absolute;
        height: 90vh;
        top: 10%;
        left: 0;
        background: #ececec;
    }
    #menu_toggle {
        display: block;
        position: absolute;
        border-radius: 10px;
        padding: 8px;
        height: fill-box;
        left: 50px;
        justify-self: unset;
    }
    .sidebar.active {
        display: flex;
    }
    .container_one {
        width: 100%;
    }
    .container_two {
        width: 100%;
    }
    .topnav {
        width: 100%;
    }
    .overlay_right {
        width: 100%;
    }
    .overlay_left {
        width: 100%;
    }
    .name {
        display: none;
    }
    .mini_card {
        width: 100%;
    }
}
